.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
.img-slide {
    width: 100%;
    height: 700px;
}
.navbar-nav {
    margin: 0 40px;
    text-decoration: none;
    text-align: center;
}

.navbar {
    justify-content: end;
    padding-top: 30px;
}

.navbar .a {
    text-decoration: none;
}

.img-logo {
    justify-content: start;
}
.logo {
    text-align: center;
    margin: 20px 100px;
}
.container-fluid {
    background-color: #0C1420;
    opacity: 0.8;
}
.navbar .text-nav {
    color: white;
    margin: 40px 20px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
}
.nav-item{
    position: relative;
}
.text-nav:after{
    content: "";
    top: -30px;
    left: 0;
    height: 3px;
    width: 0;
    position: absolute; 
    background-color: #4BCAFF;
    transition: all 0.5s ;
    
}
.text-nav:hover:after{ 
    width: 90%; 
 }
 .text-nav:hover{
    color: #4BCAFF;
 }
.text-slide {
    color: white;
    display: inline-block;
    padding: 100px 150px 100px 300px;
    position: absolute;
    top: 30%;
    left: 20%;
}

.text-slide h1 {
    font-size: 44px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
}

.text-slide span {
    font-weight: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text-slide button {
    padding: 17px 40px;
    margin-right: 40px;
    margin-top: 30px;
}
.btn-default{
    border: 1px solid #fff;
    color: #fff;
}
.btn-default:hover{
    background-color: #4BCAFF;
    border-bottom: 3px solid #277697;
}
.available li {
    position: absolute;
    display: flex;
    text-decoration: none;
    list-style: none;
}
.available h5 {
    margin-left: 0px;
    margin-top: 30px;
}
.available .icons {
    margin:22px 140px 0 125px;
    position: absolute;
    border-radius: 60%;
    background-color: #171C22;
    width: 50px;
    height: 50px;
}
.icons:hover{
    color: #4BCAFF;
}
.fab {
    margin:5px auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
  height: 50px;
  width: 50px;
  background-size: 30%, 30%;
  border-radius: 50%;
  background-color: #254659;
}

.carousel-control-next-icon:hover
{
  font-size: 30px;
  background-color: #4BCAFF;
}

.carousel-control-prev-icon:hover {
  font-size: 30px;
  background-color: #4BCAFF;
}
.circle {
    position: relative;
    border-radius: 50%;
    background-color: #4BCAFF;
    width: 160px;
    height: 160px;
}
.fas{
    position: absolute;
    font-size: 70px;
    top: 50px;
    left: 40px;
    color: #fff;
    margin: auto auto;
}
.text-detail p {
    width: 85%;
    text-align: center;
}
.text-detail h5 {
    margin-top: 30px;
    margin-bottom: 10px;
}
.circle:hover  {
    background-color: black;
}
.col-3:hover .text-center{
    color: #4BCAFF;
}
.fa-mobile-alt{
    margin-left: 15px;
}
.feature-header {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}
.feature-header h1 {
    font-size: 50px;
}
.feature-header p {
    font-size: 22px;
}
.feature-content {
    display: inline;
}
.box-gallery {
    background: #333;
    height: 240px;
}
.gallery-header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.box-gallery-img {
    width: 100%;
}
.box-gallery-text {
    color: #4AC9FE;
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 5.5%;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 89%;
    opacity: 1;
    transition: .5s ease;
    border-radius: 2px grey solid;
}
.fa-plus{
    font-size: 20px;
    top:  25%;
    padding-left: 65px;
    visibility: hidden;
}
.box-gallery:hover {
    background-color: #438FAF;
}
.box-gallery:hover .fa-plus{
    visibility: visible;
}
.gallery-description{
    font-family: "Lato";
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}
.video {
    background-image: url("../images/backgroup_item1.png");
    background-repeat: no-repeat;
    height: 430px;
    margin-top: 100px;
    text-align: center;
}
.b-btn-play {
    position: relative;
    width: 120px;
    height: 75px;
    border-radius: 8px;
    background-color: rgb(114, 179, 204, 0);
    border: 2px solid #fff;
    top: 50px;
}
.icon-video {
    position: absolute;
    color: #fff;
    font-size: 40px;
    top: 20px;
}
.text-video {
    color: #fff;
    margin-top: 60px;
}
.title-video {
    font-family: "lato";
    font-weight: 10px;
    font-size: 48px;
}
.text-video p {
    margin: 20px 300px;
    display: block;
} 
.b-btn-play {
    margin-top: 50px;
}
.show-prices {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.card-deck {
    text-align: center;
    margin-top: 50px;
    margin-left: 11px;
}
.b-btn-1 {
    color: white;
    padding: 7px 30px;
    border-radius: 5px;
    background-color: #91c46b;
}
.b-btn-2 {
    color: white;
    padding: 7px 30px;
    border-radius: 5px;
    background-color: #4bcaff;
}
.b-btn-3 {
    color: white;
    padding: 7px 30px;
    border-radius: 5px;
    background-color: #fd7c00;
}
.card {
    position: relative;
}
.card-deck:hover .card {
    transform: scale(1.1);
    transition: .5s ease;
}
.card-deck:hover .basic{
    color: #92C46B;
}
.card-deck:hover .pro{
    color: #4BCAFF;
}
.card-deck:hover .basic-orange{
    color: #FE7C00;
}
.card h5{
    margin:10px 20px;
    color: #C7C4C4;
}
.card-body p {
    color: #C7C4C4;
}
.card-deck:hover .card-detail-basic{
    color:  #92C46B;
}
.card-deck:hover .card-detail-pro{
    color:  #4BCAFF;
}
.card-deck:hover .card-detail-orange{
    color:  #FE7C00;
}
.card-prices{
    font-weight: bold;
    font-size: larger;
}
.card-header-1 {
    background-color: #91c46b;
    color: #fff;
    font-size: 70px;
    font-family: "Droid Sans";
}
.card-header-2 {
    background-color: #4bcaff;
    color: #fff;
    font-size: 70px;
    font-family: "Droid Sans";
}
.card-header-3 {
    background-color: #fd7c00;
    color: #fff;
    font-size: 70px;
    font-family: "Droid Sans";
}
.testimonails{
    background-color: #F9F9F9;
}
.title-testimonails {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 80px;
}
.t-title{
    font-weight: bold;
    padding-top: 20px;
}
.row .col-5 {
    text-align: end;
}
.item {
    width: 1000px;
}
.item .description {
    color: #4AC9FE;
    margin-top: 20px;
    font-weight: bold;
    font-family: "lato";
    font-size: 16px;
}
.item .name {
    color: #4AC9FE;
    text-align: end;
}
.download {
    background-color: #212529;
    height: 200px;
    text-align: center;
    padding-top: 25px
}
.download h3 {
    color: #fff;
}
.b-btn-download {
    width: 200px;
    height: 60px;
    border-radius: 8px;
    background-color: #4BCAFF;
    border-bottom: : 2px solid #277697;
    font-size: 15px;
    color: #42454A;
    box-shadow: 0px 3px 0px #277697;
    font-weight: bold;
}
.text-dowload {
    font-size: 50px;
}
.contact {
    position: relative;
    background-image: url("../images/google-map-background.jpg");
    background-repeat: no-repeat;
    height: 600px;
    text-align: center;
    width: 100%;
}
.b-page-form {
    position: absolute;
    border-radius: 4px;
    width: 324px;
    height: 460px;
    background-color: rgba(75, 202, 255, 0.8);
    padding: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.b-title {
    color: #fff;
}
input {
    width: 270px;
    height: 34px;
    border-radius: 4px;
    background-color: #ffffff;
    margin-top: 10px;
}
input[type=text] {
   text-align: center;
}
textarea {
    width: 270px;
    height: 145px;
    border-radius: 4px;
    background-color: #ffffff;
    margin-top: 10px;
    text-align: center;
}
input[type=submit] {
    width: 180px;
    height: 40px;
    border-radius: 6px;
    background-color: #09090a;
    font-size: 15px;
    color: #72b3cc;
    font-weight: 700;
}
footer {
    background-color: #212529;
    height: 80px;
    color: #fff;
    padding-top: 27px;
    font-size: 12px;
}
.left-text {
    padding-left: 100px;
}
.right-text {
    padding-right: 150px;
}